<link rel="stylesheet" type="text/css" href="~/Documents/GitHub/css-exercise-one/css/reset200802.css">
<link rel="stylesheet" type="text/css" href="style.css">
/**I am not sure how to link the reset file to this. I think this is how? Not sure how to implement it. **/
body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/**Originally, the nav section did not have a closing bracket **/
section {
  margin: 0 auto;
  width: 60%;
}


h1 {
  font-family sans-serif;
  font-size: 2em;
}
/**After example, there was an unecessary comma. I think there was no colon or semicolon in the text-align line somewhere**/
.example h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}
/**Added a colon after margin**/
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
